In [2]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [9]:
x = np.ones((2, 3))
x

array([[1., 1., 1.],
       [1., 1., 1.]])

## Q#2: Create y array with elements equal to 0.

In [10]:
y = np.zeros((2, 3))
y

array([[0., 0., 0.],
       [0., 0., 0.]])

## Q#3: Add x and y arrays.

In [11]:
np.add(x, y)

array([[1., 1., 1.],
       [1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

In [18]:
print(f"{x.shape} {x.dtype} {x.size} {x.ndim}")

(2, 3) float64 6 2

## Q#5: Create a 2D array called "w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [63]:
w = np.array([[11,12],[13,14],[15,16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [64]:
z = np.arange(1,3) # or could be np.linspace(1,3)
z

array([1, 2])

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

In [65]:
newArray = np.vstack((z, w))
newArray

array([[ 1,  2],
       [11, 12],
       [13, 14],
       [15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [75]:
for x in np.nditer(newArray):
    print(x)

1
2
11
12
13
14
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [76]:
newArray.transpose()

array([[ 1, 11, 13, 15],
       [ 2, 12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [91]:
newArray -= 1

## Q#11: Find smallest and biggest values in "newArray".

In [92]:
newArray.min()

0

## Q#12: Print the first row of "newArray" using indexing.

In [102]:
newArray[0,]

array([0, 1])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [103]:
print(newArray[newArray == 12])

[12]

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

In [153]:
print(newArray[(newArray == 13) | (newArray == 0)])

[ 0 13]

## Q#15: Change the shape of "newArray" to (9,1).

In [155]:
newArray.reshape((9,1)) # need to change array size to 9

ValueError: cannot reshape array of size 8 into shape (9,1)

## Q#16: Change the shape of "newArray" to (3,2).

In [62]:
newArray.reshape((3,2)) # need to change array size to 6

ValueError: cannot reshape array of size 8 into shape (3,2)

# Well Done ðŸŽ‰